
* {
    margin: 10px 10px 5px 5px;
    padding: 0;
}
.BiaoTi{
    color:#f00 ;
    font-size: 2em;
    /*background: #aaa;*/
}
.WeiZi{
    color:#f00 ;
    font-size: 2em;
}
div {
    border:#aaaaaa solid 1px;
}
a {
    font-size: 2em;
}
span {
    margin: 0px;
}


