
* {
    margin: 0px 5px 0px 5px;
    padding: 0px 0px 0px 0px;
}
.BiaoTi{
    color:#f00 ;
    font-size: 1.5em;
    /*background: #aaa;*/
    padding: 0px 0px 0px 0px;
    margin: 10px 0px 0px 0px;
}
.WeiZi{
    color:#f00 ;
    font-size: 1.5em;
    padding: 0px 0px 0px 0px;
    margin: 10px 0px 0px 0px;
}
 .KuangJia {
    border:#aaaaaa solid 1px;
    padding: 0px 0px 0px 0px;
     margin: 10px 0px 0px 0px;
}
.LianJie {
    font-size: 1.5em;
    margin: 0px;
}
.HangYuanSu {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}


